body {
  width:100%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}


link:active {
  text-decoration: underline;
}
.cart-widget {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cart-notification {
  position: absolute;
  top: 35px;
  right: 74px;
  background-color: red;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 50%;
}
